
html, body {
    height: 100%;
    width: 100%;
}
.SidebySide img {
    height: 5.5rem;
}
.SidebySide p{
    display: inline-block;
    vertical-align: top;
    font-size: 4rem;
    font-weight: 700;
}
/*== Navigation ==*/
.width-100 {
    width: 100vw;
}

.nav-link {
    border-bottom: .1rem solid transparent;
}

li {
    display: inline;
}
.nav-link {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}
/*== About ==*/
.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 1.5px #000000;
}
.box1 p {
    margin: 0; 
    padding: 0;
}
/*== Contact 横並びにしたい==*/
.contacts {
    display: inline;
}
/*== Footer ==*/
footer a {
    color: black;
}
hr.socket {
    width: 100%;
    border-top: .1rem solid #666b71;
    margin-top: 3rem;
  }